ValCacheProxyLib/Connected Services/FileServerService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileServer_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="IFileServer_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileServer_GetAvailableFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableFiles" />
  </wsdl:message>
  <wsdl:message name="IFileServer_GetAvailableFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileServer">
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileServer/GetFile" message="tns:IFileServer_GetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileServer/GetFileResponse" message="tns:IFileServer_GetFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileServer/GetAvailableFiles" message="tns:IFileServer_GetAvailableFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileServer/GetAvailableFilesResponse" message="tns:IFileServer_GetAvailableFiles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileServer" type="tns:IFileServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/IFileServer/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableFiles">
      <soap:operation soapAction="http://tempuri.org/IFileServer/GetAvailableFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileServerService">
    <wsdl:port name="BasicHttpBinding_IFileServer" binding="tns:BasicHttpBinding_IFileServer">
      <soap:address location="http://localhost:1081/ValCacheServer/FileServerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>